:root {
    --main-color: #2196f3;
    --text-color: #FFFFFFE6;
    --text-hover: #fff;
    --light-black: #1d2226;
    --black: rgba(0,0,0,0.9);
    --light-blue: #70B5F9;
    --dark-blue: #0a66c2;
    --blue: #2977c9;
    --light-brown: #8F5849;
    --light-grey: #ebecf0;
    --dark-grey: rgb(131, 140, 145);
    --hover-task: rgba(255, 255, 255, 0.4);
    --white: #fff;
}
@font-face {
    font-family: "Great Vibes";
    src: url("/static//fonts/GreatVibes-Regular.ttf");
}

html {
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font: 1.2rem;
    height: 100vh;
    background-color: var(--main-color);
}

nav {
    background-color: var(--light-black);
    color: var(--text-color);
    margin: 0;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    cursor: pointer;
}

nav a:hover {
    color: var(--text-hover);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav ul li {
    padding: 1%;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: auto 1%;
    text-align: center;
    order: 3;
}

main {
}

hr {
    background-color: #dfe1e6;
    color: #dfe1e6;
}

nav ul li.logo{
    flex: 1;
    color: white;
    cursor: default;
    user-select: none;
}
.logo {
    font-family: "Great Vibes", cursive;
    font-size: 1.5em;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: var(--light-black);
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

td {
    width: 25%;
}

tr:hover {
    background-color: var(--light-grey);
    color: var(--light-black);
}

.input-form {
    display: block;
    width: 96%;
    height: 40px;
    margin-top: 4%;
    border-radius: 3px;
    border: 1px solid var(--dark-grey);
    padding: 1px 1.5%;
}

.input-form::selection {
    border-color: var(--blue);
}

.form-box {
    width: 35%;
    background-color: var(--white);
    padding: 25px;
    margin-top: 20px;
    border-radius: 3px;
}

.form-box a {
    display: block;
    margin-top: 4%;
    text-decoration: none;
    color: var(--light-black);
}

.login-image {
    width: 45%;
    margin-left: 150px;
}

.login-image img {
    width: 100%
}

.link:hover {
    color: var(--dark-blue);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.login-container {
    padding: 50px 20px;
}

.button {
    background-color: var(--blue);
    font-size: 1.4rem;
    color: var(--text-hover);
    height: 48px;
    border-radius: 3px;
    border: none;
    width: 100%;
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 4%;
    cursor: pointer;
}

.form-h1 {
    text-align: center;
    color: var(--white);
}

.blob-img {
    background-image: url("img/blob.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-board {
    padding: 0 10px;
    display: flex;
    height: 90vh;
}

.item-box {
    height: 100%;
}

.item {
    background-color: var(--light-grey);
    border-radius: 3px 3px 0px 0px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    width: 250px;
}

.item--over {
    opacity: 0.5;
}

.task {
    word-wrap: break-word;
    color: var(--ds-text,#172b4d);
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--text-hover);
    padding: 6px 8px 2px;
    border-radius: 2px;
    box-shadow: var(--dark-grey) 1px 1px 1px;
}

.task:hover {
    background-color: var(--hover-task);
}

.list-input {
    background-color: var(--light-grey);
    font-size: 0.8750em;
    font-weight: 100;
    margin: 0 0 6px 1%;
    border: none;
    width: 220px;
    cursor: pointer;
}

.add-card {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 3px;
    cursor: pointer;

    border-radius: 0 0 3px 3px;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 250px;
}

.add-card:hover {
    background-color: var(--hover-task);
    color:#172b4d;
}

.add-list {
    background-color: rgba(255,255, 255, 0.3);
    color: var(--text-color);
    border-radius: 3px;
    margin: 10px 10px;
    padding: 10px;
    width: 250px;
    cursor: pointer;
}

.h3 {
    margin: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-icons {
    float: right;
    cursor: pointer;
}
.grid-flex {
    display: flex;
}

.add-box {
    background-color: rgba(255,255, 255, 0.3);
    color: var(--text-color);
    cursor: pointer;
    width: 180px;
    height: 80px;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.add-box:hover {
    background-color: var(--hover-task);
}

.add-box i {
    font-size: 2em;
}

.card {
    background-color: var(--light-black);
    color: var(--text-color);
    cursor: pointer;
    width: 180px;
    height: 80px;
    border-radius: 3px;
    margin: 10px;
    font-weight: 700;
    padding: 10px;
}

.tag-card {
    border-radius: 3px;
    background-color: var(--ds-background-accent-gray-subtler, rgba(255, 255, 255, 0.69));
    padding: 3px 8px;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    align-items: center;
    color: var(--ds-text, #172B4D);
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 0 10px 0;
}

.input-members {
    width: 250px;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 20px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
    color: var(--ds-text,#172b4d);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 2px var(--ds-border-input,#dfe1e6);
}

.input-members:hover {
    background-color: var(--ds-background-input-hovered,#ebecf0);
}

input:focus {
    outline: var(--blue) 2px solid;
}

.simple-btn {
    color: var(--ds-text,#172b4d);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    width: 200px;
    cursor: pointer;
    height: 35px;
    --dynamic-background-color: #FAFBFC;
    --dynamic-icon-color: #42526E;
    --dynamic-text-color: #172B4D;
    --dynamic-text-color-transparent: hsla(218,54%,19.6%,0.16);
    --dynamic-button-background-color: rgba(0, 0, 0, 0.1);
    --dynamic-button-background-color-hovered: rgba(0, 0, 0, 0.2);
    --dynamic-button-background-color-pressed: rgba(0, 0, 0, 0.3);
    --dynamic-nav-item-background-color-hovered: hsla(0, 100%, 0%, 0.08);
    --dynamic-nav-item-background-color-pressed: hsla(0, 100%, 0%, 0.16);
}

.simple-btn:hover {
    color: var(--black);
    background-color: #ebecf0a2;
}

.members-container {
    padding: 25px;
}


.div-row {
    border-bottom: 1px solid var(--ds-border,#091e4221);
    padding: 12px 0;
}

.box-url-template {
    margin: 0 0 0 10px;
}

.box-url-template  a {
    color: var(--dark-grey);
}

.box-filter {
    margin-left: 10px;
}

.container-table {
    display: flex;
    min-height: 40px;
    padding: 12px 0;
    position: relative;
    color: var(--ds-text,#172b4d);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    --dynamic-background-color: #FAFBFC;
    --dynamic-icon-color: #42526E;
    --dynamic-text-color: #172B4D;
    --dynamic-text-color-transparent: hsla(218,54%,19.6%,0.16);
    --dynamic-button-background-color: rgba(0, 0, 0, 0.1);
    --dynamic-button-background-color-hovered: rgba(0, 0, 0, 0.2);
    --dynamic-button-background-color-pressed: rgba(0, 0, 0, 0.3);
    --dynamic-nav-item-background-color-hovered: hsla(0, 100%, 0%, 0.08);
    --dynamic-nav-item-background-color-pressed: hsla(0, 100%, 0%, 0.16);
}

.alert {
    margin-top: 1rem;
    border: 1px solid;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
}

.sucess {
    color: #155724;
    border-color: #c3e6cb;
    background-color: #d4edda;
}

.error {
    color: #8f444b;
    border-color: #f5c6cb;
    background-color: #f8d7da;
}

.card-link {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .login-image {
        display: none;
    }
    .form-box {
        width: 100%;
    }
}