{% macro task() %}
<div class="modalBackground" id="modal">
    <div class="modalContainer">
        <div class="titleCloseBtn">
            <button id="close_btn">X</button>
        </div>
        <h3 class="h3-modal mg-tp-0"><i class="fa-solid fa-bars"></i> Description</h3>
        <form action="/task" method="post">
            <div class="body">
                <textarea name="task" id="task"></textarea>
            </div>
            <input class="button" value="Save"/>
            <h3 class="h3-modal"><i class="fa-solid fa-user"></i> Members</h3>
            <input class="input-form mg-tp-0">
        </form>
    </div>
</div>
{% endmacro %}

{% macro project() %}
<div class="modalBackground" id="modal">
    <div class="modalContainer">
        <div class="titleCloseBtn">
            <button id="close_btn">X</button>
        </div>
        <h3 class="h3-modal mg-tp-0"><i class="fa-solid fa-list-check"></i> Project</h3>
        <form action="/projects" method="post">
        <div class="body">
            <input class="input-form mg-tp-0" placeholder="Project Name" name="project-name">
        </div>
        <input class="button" value="Create" type="submit"/>
        </form>
    </div>
</div>
{% endmacro %}

{% macro board(id_project) %}
<div class="modalBackground" id="modal">
    <div class="modalContainer">
        <div class="titleCloseBtn">
            <button id="close_btn">X</button>
        </div>
        <h3 class="h3-modal mg-tp-0"><i class="fa-solid fa-diagram-project"></i> Board</h3>
        <form action="/boards" method="post">
            <div class="body">
                <input class="input-form mg-tp-0" placeholder="Board Name" name="board_name">
                <select class="select-popup">
                    <option>Kanban</option>
                </select>
            </div>
            <button name="board_submit" class="button" value="{{ id_project }}" type="submit">Create</button>
        </form>
    </div>
</div> 
{% endmacro %}

{% macro list(id_kanban) %}
<div class="modalBackground" id="modal_list">
    <div class="modalContainer">
        <div class="titleCloseBtn">
            <button id="close_list_btn">X</button>
        </div>
        <form action="/list" method="post">
            <h3 class="h3-modal mg-tp-0"><i class="fa-solid fa-list"></i> Kanban List</h3>
            <div class="body">
                <input class="input-form mg-tp-0" placeholder="List Name" name="list_name">
            </div>
            <button value="{{ id_kanban }}" class="button" type="submit" name="kanban_submit">Create</button>
        </form>
    </div>
</div>
{% endmacro %}