:root {
    --text-color: #FFFFFFE6;
    --text-hover: #fff;
    --light-black: #1d2226;
    --black: rgba(0,0,0,0.9);
    --light-blue: #70B5F9;
    --dark-blue: #0a66c2;
    --blue: #2977c9;
}

body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 1.2rem;
}

nav {
    background-color: var(--light-black);
    color: var(--text-color);
    margin: 0;
    padding: 0.25%;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
}

nav a:hover {
    color: var(--text-hover);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 1%;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: auto 1%;
    text-align: center;
    order: 3;
}

nav ul li.logo{
    flex: 1;
    color: white;
    cursor: default;
    user-select: none;
}

.input-form {
    display: block;
    width: 96%;
    height: 40px;
    margin-top: 3%;
    padding: 1px 1.5%;
}

.box-login {
    width: 35%;
    padding: 20px;
}

.box-login a {
    display: block;
    margin-top: 3%;
    text-decoration: none;
    color: var(--light-black);
}

.login-image {
    width: 45%;
}

.login-image img {
    width: 100%
}

.link:hover {
    color: var(--dark-blue);
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px 20px;
    margin: auto;
}

.button {
    background-color: var(--blue);
    font-size: 2rem;
    color: var(--text-hover);
    height: 48px;
    border-radius: 28px;
    border: none;
    width: 100%;
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 3%;
    cursor: pointer;
}

@media (max-width: 900px) {
    .login-image {
        display: none;
    }
    .box-login {
        width: 100%;
    }
}