:root {
    --text-color: #FFFFFFE6;
    --text-hover: #fff;
    --light-black: #1d2226;
    --black: rgba(0,0,0,0.9);
    --light-blue: #70B5F9;
    --dark-blue: #0a66c2;
    --blue: #2977c9;
    --light-brown: #8F5849;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font: 1.2rem;
}

nav {
    background-color: var(--light-black);
    color: var(--text-color);
    margin: 0;
    padding: 0.25%;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
}

nav a:hover {
    color: var(--text-hover);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 1%;
    cursor: pointer;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: auto 1%;
    text-align: center;
    order: 3;
}

nav ul li.logo{
    flex: 1;
    color: white;
    cursor: default;
    user-select: none;
}

.input-form {
    display: block;
    width: 96%;
    height: 40px;
    margin-top: 4%;
    padding: 1px 1.5%;
}

.input-form::selection {
    border-color: var(--blue);
}

.form-box {
    width: 35%;
}

.form-box a {
    display: block;
    margin-top: 4%;
    text-decoration: none;
    color: var(--light-black);
}

.login-image {
    width: 45%;
    margin-left: 150px;
}

.login-image img {
    width: 100%
}

.link:hover {
    color: var(--dark-blue);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px 20px;
    margin: auto;
}

.button {
    background-color: var(--blue);
    font-size: 1.4rem;
    color: var(--text-hover);
    height: 48px;
    border-radius: 28px;
    border: none;
    width: 100%;
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 4%;
    cursor: pointer;
}

.form-h1 {
    color: var(--light-brown);
}

.login-img {
    background-image: url("img/blob.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 1000px) {
    .login-image {
        display: none;
    }
    .form-box {
        width: 100%;
    }
}