:root {
    --text-color: #FFFFFFE6;
    --text-hover: #fff;
    --light-black: #1d2226;
    --black: rgba(0,0,0,0.9);
    --light-blue: #70B5F9;
    --dark-blue: #0a66c2;
    --blue: #2977c9;
    --light-brown: #8F5849;
    --light-grey: #ebecf0;
    --dark-grey: rgb(131, 140, 145);
    --hover-task: rgba(255, 255, 255, 0.4);
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font: 1.2rem;
}

html, body {
    height: 100%;
}

nav {
    background-color: var(--light-black);
    color: var(--text-color);
    margin: 0;
    padding: 0.25%;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    cursor: pointer;
}

nav a:hover {
    color: var(--text-hover);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 1%;
}

nav ul li.items {
    position: relative;
    width: auto;
    margin: auto 1%;
    text-align: center;
    order: 3;
}

nav ul li.logo{
    flex: 1;
    color: white;
    cursor: default;
    user-select: none;
}

.input-form {
    display: block;
    width: 96%;
    height: 46px;
    margin-top: 4%;
    padding: 1px 1.5%;
}

.input-form::selection {
    border-color: var(--blue);
}

.form-box {
    width: 35%;
}

.form-box a {
    display: block;
    margin-top: 4%;
    text-decoration: none;
    color: var(--light-black);
}

.login-image {
    width: 45%;
    margin-left: 150px;
}

.login-image img {
    width: 100%
}

.link:hover {
    color: var(--dark-blue);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px 20px;
    margin: auto;
}

.button {
    background-color: var(--blue);
    font-size: 1.4rem;
    color: var(--text-hover);
    height: 48px;
    border-radius: 28px;
    border: none;
    width: 100%;
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 4%;
    cursor: pointer;
}

.form-h1 {
    color: var(--light-brown);
}

.blob-img {
    background-image: url("img/blob.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-board {
    padding: 0 10px;
    display: flex;
    height: 85%;
}

.item-box {
    height: 100%;
}

.item {
    background-color: var(--light-grey);
    border-radius: 3px 3px 0px 0px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    width: 250px;
}

.item--over {
    opacity: 0.5;
}

.task {
    word-wrap: break-word;
    color: var(--ds-text,#172b4d);
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--text-hover);
    padding: 6px 8px 2px;
    border-radius: 2px;
    box-shadow: var(--dark-grey) 1px 1px 1px;
}

.task:hover {
    background-color: var(--hover-task);
}

.list-input {
    background-color: var(--light-grey);
    font-size: 0.8750em;
    font-weight: 100;
    margin: 0 0 6px 1%;
    border: none;
    width: 220px;
    cursor: pointer;
}

.add-card {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 3px;
    cursor: pointer;

    border-radius: 0 0 3px 3px;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 250px;
}

.add-card:hover {
    background-color: var(--hover-task);
    color:#172b4d;
}

.add-list {
    background-color: rgba(255,255, 255, 0.3);
    color: var(--text-color);
    border-radius: 3px;
    margin: 10px 10px;
    padding: 10px;
    width: 250px;
    cursor: pointer;
}

.h3 {
    margin: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-icons {
    float: right;
    cursor: pointer;
}
.grid-projects {
    display: flex;
}

.add-project {
    background-color: rgba(255,255, 255, 0.3);
    color: var(--text-color);
    cursor: pointer;
    width: 180px;
    height: 80px;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.add-project:hover {
    background-color: var(--hover-task);
}

.add-project i {
    font-size: 2em;
}

.project {
    background-color: var(--light-black);
    color: var(--text-color);
    cursor: pointer;
    width: 180px;
    height: 80px;
    border-radius: 3px;
    margin: 10px;
    font-weight: 700;
    padding: 10px;
}

.tag-project {
    border-radius: 3px;
    background-color: var(--ds-background-accent-gray-subtler, rgba(255, 255, 255, 0.69));
    padding: 3px 8px;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    align-items: center;
    color: var(--ds-text, #172B4D);
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 0 10px 0;
}

@media (max-width: 1000px) {
    .login-image {
        display: none;
    }
    .form-box {
        width: 100%;
    }
}