{% extends "layout.html" %}

{% block title %}
    Board
{% endblock %}

{% block main %}
    <div class="grid-board">
        <div class="item-box">
            <div class="item">
                <a class="fa-solid fa-bars btn-pencil"></a>
                <input class="list-input" type="text" value="Todo"> 
                <div class="task" id="task1" draggable="true">
                    <i class="fa-solid fa-pencil btn-pencil"></i>
                    <span>Olá aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasa
                        asddasdfas
                        dsaasd
                    </span>
                </div>
            </div>
            <div class="add-card">
                <a type="button" class="fa-solid fa-plus"></a> Add card
            </div>
        </div>

        <div class="item-box">
            <div class="item">
                <a class="fa-solid fa-bars btn-pencil"></a>
                <input class="list-input" type="text" value="Todo"> 
                <div class="task" id="task1" draggable="true">
                    <i class="fa-solid fa-pencil btn-pencil"></i>
                    <span>
                        teste 1
                    </span>
                </div>
            </div>
            <div class="add-card">
                <a type="button" class="fa-solid fa-plus"></a> Add card
            </div>
        </div>

        <div>
            <div class="add-list">
                <a type="button" class="fa-solid fa-plus"></a> Add another list
            </div>
        </div>
        
        <script>
            const body = document.getElementsByTagName('body');
            body[0].style.background = 'var(--dark-grey)'

            for (const draggableElement of document.querySelectorAll('.task')) {
                draggableElement.addEventListener('dragstart', e => {
                    e.dataTransfer.setData('text/plain', draggableElement.id)
                });
            }

            for (const dropZone of document.querySelectorAll('.item')) {
                dropZone.addEventListener('dragover', e => {
                    e.preventDefault();
                    dropZone.classList.add('item--over')
                });

                dropZone.addEventListener('dragleave', e => {
                });

                dropZone.addEventListener('drop', e => {
                    e.preventDefault();
                    const droppedElementId = e.dataTransfer.getData('text/plain');
                    const droppedElement = document.getElementById(droppedElementId);

                    dropZone.appendChild(droppedElement);
                });
            }
        </script>
    </div>
{% endblock %}