{% extends "layout.html" %}

{% block title %}
    Board
{% endblock %}

{% block main %}
    <div class="grid-board">
        <div class="item-box">
            <div class="item">
                <a class="fa-solid fa-bars btn-icons btn-bar"></a>
                <input class="list-input" type="text" value="Todo"> 
                <div class="task" id="task1" draggable="true">
                    <i class="fa-solid fa-pencil btn-icons btn-pencil"></i>
                    <span>Olá aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasa
                        asddasdfas
                        dsaasd
                    </span>
                </div>
            </div>
            <div class="add-card">
                <a type="button" class="fa-solid fa-plus"></a> Add card
            </div>
        </div>

        <div class="item-box">
            <div class="item">
                <a class="fa-solid fa-bars btn-icons"></a>
                <input class="list-input" type="text" value="Todo"> 
                <div class="task" id="task2" draggable="true">
                    <i class="fa-solid fa-pencil btn-icons"></i>
                    <span>
                        teste
                    </span>
                </div>
            </div>
            <div class="add-card">
                <a type="button" class="fa-solid fa-plus"></a> Add card
            </div>
        </div>

        <div>
            <div class="add-list">
                <a type="button" class="fa-solid fa-plus"></a> Add another list
            </div>
        </div>
        
        <script>
            // Changing cplor of body
            const body = document.getElementsByTagName('body');
            body[0].style.background = 'var(--dark-grey)'

            // Adding drag event in the task
            for (const draggableElement of document.querySelectorAll('.task')) {
                draggableElement.addEventListener('dragstart', e => {
                    e.dataTransfer.setData('text/plain', draggableElement.id)
                });
            }

            // Adding drag event in the task list
            for (const dropZone of document.querySelectorAll('.item-box')) {
                dropZone.addEventListener('dragover', e => {
                    e.preventDefault();
                    dropZone.classList.add('item--over')
                });

                dropZone.addEventListener('dragleave', e => {
                });

                dropZone.addEventListener('drop', e => {
                    e.preventDefault();
                    const droppedElementId = e.dataTransfer.getData('text/plain');
                    const droppedElement = document.getElementById(droppedElementId);
                    dropZone.children[0].appendChild(droppedElement);
                });
            }

            // Adding click event in the bar button
            for (const btnPencil of document.getElementsByClassName('btn-pencil')) {
                btnPencil.addEventListener('click', e => {
                    alert('Not implemented yet!');
                });
            }

            // Adding click event in the pencil button
            for (const btnBar of document.getElementsByClassName('btn-bar')) {
                btnBar.addEventListener('click', e => {
                    alert('Not implemented!');
                });
            }
            
        </script>
    </div>
{% endblock %}