{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="form-box">
            <h1 class="form-h1">Welcome to the best Kanban ever created!</h1>
            <form class="form" action="/login" method="post">
                    <div>
                        <label>
                            <input class="input-form" name="login" type="email" placeholder="E-mail" autocomplete="off" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="input-form" name="password" type="Password" placeholder="Password" autocomplete="off" required>
                        </label>
                    </div>
                    <a href="" class="link">Forgot password?</a>
                    <input class="button" type="submit" value="Sign In">
            </form>
        </div>
        <div class="login-image login-img">
            <img src="static\img\login-image.svg">
        </div>
    </div>
{% endblock %}