{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div>
            <label>
                <input name="login" type="email" placeholder="E-mail" autocomplete="off" required>
            </label>
        </div>
        <div>
            <label>
                <input name="password" type="Password" placeholder="Password" autocomplete="off" required>
            </label>
        </div>
        <input type="submit" value="Login">
    </form>
{% endblock %}