{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div>
            <label>
                <input type="email" placeholder="E-mail" autocomplete="off" required>
            </label>
        </div>
        <div>
            <label>
                <input type="password" placeholder="Password" autocomplete="off" required>
            </label>
        </div>
        <div>
            <label>
                <input type="password" placeholder="Confirm password" autocomplete="off" required>
            </label>
        </div>
        <input type="submit" value="Register">
    </form>
{% endblock %}