{% import "macro/template.html" as template %}
{% extends "layout.html" %}

{% block title %}
    Boards
{% endblock %}

{% block main %}
    {{ template.title("Popular templates", "pager") }}
    <div class="grid-flex ">
        {{ template.template("Kanban") }}
        {{ template.template("Project Management") }}
        {{ template.template("Remote Team Hub ") }}
    </div>
    <h3 class="h3"><i class="fa-solid fa-folder"></i> Boards</h3>
    <div class="div-row box-filter">
        <select class="input-members">
            <option value="">Order of creation</option>
            <option value="">Alphabetically A-Z</option>
            <option value="">Alphabetically Z-A</option>
        </select>
    </div>
    <div class="grid-flex ">
        {{ template.project("Kanban") }}
        {{ template.addBox("add-board") }}
    </div>
    <script src="{{url_for('static', filename='js/body.js')}}"></script>
{% endblock %}