{% extends "layout.html" %}
{% import "macro/forms.html" as forms %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <div class="form-container">
        <div class="form-box">
            {{ forms.title("Welcome to the best Kanban ever created!") }}
            <form class="form" action="/login" method="post">
                    <div>
                        {{ forms.input("email", "email", "E-mail", "email") }}
                    </div>
                    <div>
                        {{ forms.input("password", "password", "Password", "password") }}
                    </div>
                    {{ forms.link("/", "Forgot password?") }}
                    {{ forms.button("signin", "Sign In", "submit") }}
            </form>
        </div>
        <div class="login-image blob-img">
            <img src="{{ url_for('static', filename='img/login-image.svg') }}">
        </div>
    </div>
{% endblock %}