{% extends "layout.html" %}
{% import "macro/template.html" as template %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    {{ template.title("Popular templates", "pager") }}
    <div class="grid-flex ">
        {{ template.template("Kanban") }}
        {{ template.template("Project Management") }}
        {{ template.template("Remote Team Hub ") }}
    </div>
    {{ template.title("Your Workspaces", "briefcase") }}
    <div class="grid-flex ">
        {% for project in projects %}
            {{ template.project(project.name) }}
        {% endfor %}
        {{ template.addBox("add-project") }}
    </div>
    <script src="{{ url_for('static', filename='js/projects.js') }}" type="text/javascript"></script>
{% endblock %}