{% extends "layout.html" %}
{% import "macro/template.html" as template %}
{% import "macro/modals.html" as modals %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    {{ modals.project() }}
    {{ template.title("Popular templates", "pager") }}
    <div class="grid-flex ">
        {{ template.template("Kanban") }}
        {{ template.template("Project Management") }}
        {{ template.template("Remote Team Hub ") }}
    </div>
    {{ template.title("Your Workspaces", "briefcase") }}
    <div class="grid-flex ">
        {% for project in projects %}
            {{ template.card(project.name, project.id, "main.boards") }}
        {% endfor %}
        {{ template.addBox("add_project") }}
    </div>
    <script src="{{ url_for('static', filename='js/projects.js') }}"  type="text/javascript"></script>
{% endblock %}