{% import "components/template.html" as template %}
{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
        {{ template.title("Popular templates", "pager") }}
        <div class="grid-flex ">
            {{ template.template("Kanban") }}
            {{ template.template("Project Management") }}
            {{ template.template("Remote Team Hub ") }}
        </div>
        {{ template.title("Your Workspaces", "briefcase") }}
        <div class="grid-flex ">
            {{ template.project("Kanban") }}
            {{ template.addProject() }}
        </div>
        <script>
            // Changing cplor of body
            const body = document.getElementsByTagName('body');
            body[0].style.background = 'var(--dark-grey)'
            
            const addProject = document.getElementById('add-project');
            addProject.addEventListener('click', e => {
            alert('Not implemented');
            })
        </script>
{% endblock %}