{% extends "layout.html" %}
{% import "macro/forms.html" as forms %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    {{ forms.title("Take advantage of the scrum methodology") }}
    <div class="form-container">
        <div class="form-box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert error">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/register" method="post">
                    <div>
                        {{ forms.input("name", "name", "Name", "text") }}
                    </div>
                    <div>
                        {{ forms.input("email", "email", "E-mail", "email") }}
                    </div>
                    <div>
                        {{ forms.input("password", "password", "Password", "password") }}
                    </div>
                    <div>
                        {{ forms.input("confirm-password", "confirm-password", "Confirm password", "password") }}
                    </div>
                    {{ forms.link("/login", "Already has an account?") }}
                    {{ forms.button("signin", "Register", "submit") }}
            </form>
        </div>
    </div>
{% endblock %}